@model IEnumerable<StackOverflowService.Models.QuestionWithAnswerCountViewModel>

@{
    ViewBag.Title = "Lista Pitanja";
}

<h2>Lista Svih Pitanja</h2>
@using (Html.BeginForm("Index", "Questions", FormMethod.Get))
{
    <div class="input-group" style="max-width: 500px; margin-bottom: 20px; gap: 10px;">
        <input type="text" name="searchString" value="@ViewBag.CurrentSearch" class="form-control" placeholder="Pretraga po naslovu..." />
        <span class="input-group-btn">
            <input type="submit" value="Pretraži" class="btn btn-default" />
        </span>
    </div>
}

<div class="action-links">
    <div class="sort-options">
        <strong>Sortiraj po:</strong>
        @Html.ActionLink("Datumu", "Index", new { sortBy = "datum" }) |
        @Html.ActionLink("Broju odgovora", "Index", new { sortBy = "odgovori" })
    </div>

    <div>
        @Html.ActionLink("Postavi Novo Pitanje", "Create")
    </div>
</div>


<table class="table">
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Autor
        </th>
        <th>
            Datum
        </th>
        <th>
            Odgovori
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.AutorEmail)
            </td>
            <td>
                @item.Question.Timestamp.ToString("dd.MM.yyyy. HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerCount)
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.Question.RowKey })
            </td>
        </tr>
    }

</table>
